@import '../../../sass/config/mixins';

.login-container {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
  .card {
    padding: 5% 10px;
    width: 80%;
    border: solid rgba(156, 156, 156, 0.473) 0.5px;
    
    @include media(tablet) {
      width: 60%;
    }

    @include media(desktop) {
      width: 40%;
    }
    .container {
      padding-left: 7%;
      padding-right: 7%;
      height: 100%;
      form {
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;

        h1 {
          font-size: 1rem;
          text-align: center;
          color: rgb(46, 46, 46);
          padding-bottom: 2%;
        }
        h2 {
          font-size: 0.8rem;
          text-align: center;
          color: rgb(46, 46, 46);
          padding-bottom: 10%;
        }
        label {
          display: flex;
          flex-direction: column;
          input[type='text'],
          input[type='password'] {
            padding-left: 1px;
            padding-right: 1px;
            height: 40px;
            border: 0.5px solid rgb(143, 143, 143);
            font-size: 15px;
          }
          input[type='text'] {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          input[type='password'] {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
        button {
          height: 40px;
          font-size: 15px;
          background-color: #f42b4b;
          border: none;
          border-radius: 5px;
          color: rgb(255, 255, 255);
          margin-top: 5%;
        }
        button:hover {
          background-color: rgb(151, 25, 46);
          cursor: pointer;
        }
        button:focus {
          outline: none !important;
        }

        .form-error {
          color: #f42b4b;
          text-align: center;
        }
      }
    }
  }
}
