.home {
  background-color: white;
  &__place {
    background-color: white;
    width: 80%;
    padding-top: 10%;
    margin: 0 auto;
    &__img {
      width: 100%;
      border-radius: 10px;
    }
    &__link{
      h2 {
        color:blue;
        padding: 2% 0;
        font-weight: 100;
        font-size: 0.9em;
      }
    }
    p {
      span {
        font-weight: 600;
      }
    }
  }
}

