.place {
  width: 100%;
  height: 100%;
  padding: 0;
  &__back{
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding-left: 5%;

    @include media(desktop) {
    display: none;
    }

    span{
      font-size: 22px;
    }
  }
  &__informations {
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.5em;
      padding: 5% 5% 2% 5%;
      font-weight: 600;


    }

    img {
      width: 80%;
      height: 50%;
      border-radius: 20px;

    }
    hr {
      border: 0.5px solid rgba(184, 184, 184, 0.329);
      width: 50%;
      margin: 0 auto;
    }
    &__details {
      width: 50%;
      padding: 3% 0;
      display: flex;
      justify-content: center;
      p {
        font-size: 0.9em;
      }
      .space {
        padding-right: 2%;
      }
    }
    &__description{
        padding: 5% 5%;
    }
  }
}