.searchContainer {
  width: 100%;
  padding-bottom: 2%;
  &__searchBar {
    padding: 1% 2%;
    margin: 0 auto;
    width: 80%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    @include media(tablet) {
     padding: 0 1%;
      margin-top: 8%;
      border-radius: 10px;
      width: 90%;
      border: solid rgb(170, 170, 170) 0.5px;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.116);
    }

    img {
      width: 17px;
      margin-left: 2%;
      @include media(tablet) {
      display: none;
      }
    }
    form {
      display: flex;
      width: 100%;
      input[type='text'] {
        width: 70%;
        padding-left: 2%;
        color: rgb(73, 73, 73);
        border: none;
        @include media(tablet) {
          width: 30%;
        }
      }
      input[type='date'] {
        display: none;
        @include media(tablet) {
          color: gray;
          display: block !important;
          padding: 20px 20px;
          border: none;
          outline: none;
          cursor: pointer;
          width: 15%;
          border-left: 1px solid rgb(216, 216, 216);
          &::before {
            content: attr(placeholder) '';
            white-space: pre;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
              sans-serif;
          }
          &:focus::before {
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
              sans-serif;
            content: ' ' !important;
          }
        }
      }
      input[type='number'] {
        display: none;
        @include media(tablet) {
          color: gray;
          display: block !important;
          padding: 0 20px;
          border: none;
          outline: none;
          cursor: pointer;
          width: 30%;
          border-left: 1px solid rgb(216, 216, 216);
          text-overflow: ellipsis;
        }
      }
      input[type='submit'] {
        background-color: #e31d5e;
        color: #fff;
        font-size: 11px;
        padding: 0 2%;
        border: none;
        outline: none;
        cursor: pointer;
        @include media(tablet) {
          font-weight: 600;
          margin: 0.5%;
          font-size: 14px;
          border-radius: 5px;
        }
      }
    }
  }
}
