@import '../../../sass/config/mixins';

footer{
    background-color: rgba(117, 117, 117, 0.137);
    border-top: 0.5px solid rgba(71, 71, 71, 0.247); 
    height: 10vh;
    display: none;
    @include media(tablet){
        display: block !important;
    }
    p{
        font-size: 13px;
        text-align: center;
        padding-top: 1%;
    }
}